import React from 'react';
import PropTypes from 'prop-types';

export const Sample = ({ children, text }) => (
  <div>
    <h1>sample component</h1>
    <div>{children}</div>
    <span>{text}</span>
  </div>
);

Sample.propTypes = {
  children: PropTypes.node.isRequired,
  text: PropTypes.string.isRequired,
};

export default Sample;
